description: """\

Git_pager is a small library for running a Git pager to display diffs
and other custom outputs in the terminal.

It is particularly useful for tools that integrate with Git and need
to display output exceeding one screen, while respecting user color
preferences and Git's configuration.

"""
tags: [ "git" "pager" ]
x-maintenance-intent: [ "(latest)" ]
